@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}

body {
    margin: 0;
    background-color: #ebebeb;
    font-family: Roboto, sans-serif;
}

/* --------- BURGER MENU --------- */

/* --------- HOME --------- */

header {
    width: 100%;
    height: 45vh;
}

header img {
    width: 100%;
    height: 100%;
}

.bandeauRecette {
    display: inline-flex;
    width: 100%;
}

.vignetteRecette {
    margin: 1rem;
    width: 33vw;
    height: 33vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.partieImage {
    width: 50%;
    display: inline-block;
}

.partiePresentation {
    width: 50%;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 3px;
}

.imageVignetteRecette {
    height: 33vh;
    width: 100%;
}

.partieTitre {
    height: 15%;
}

.partieTitre p{
    color: #e57373;
    font-weight: bold;
    font-size: 11px;
    margin-top: 1vh;
    width: auto;
}

.partieResume{
    height: 48%;
}

.resume {
    line-height: 10px;
    font-size: 9px;
    text-align: justify;
    width: auto;
}

.partieBouton{
    height: 12%;
    width: auto;
}

.boutonArticle {
    text-align: center;
    height: 3vh;
    background-color: #eceff1;
    font-size: 6px;
    border-radius: 2px;
    line-height: 3vh;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
}

.boutonArticle:hover {
    background-color: #e57373;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    color: white;
}

@media only screen and (max-width: 800px) {

    .header{
        margin-bottom: 0;
    }

    .bandeauRecette {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .vignetteRecette {
        margin-left: auto;
        margin-right: auto;
    }

    .partieTitre p{
        font-size: 9px;
    }

    .resume {
        line-height: 9px;
        font-size: 8px;
    }

    .boutonArticle {
        width: 13vw;
    }
}

