@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}

body {
    margin: 0;
    background-color: #ebebeb;
    font-family: Roboto, sans-serif;
}

/* --------- BURGER MENU --------- */

/* --------- HOME --------- */

header {
    width: 100%;
    height: 20vh;
}

header img {
    height: 50vh;
    width: 100%;
}

.bandeauRecette {
    display: inline-flex;
    width: 100%;
}

.vignetteRecette {
    margin: 1rem;
    width: 33vw;
    height: 33vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.partieImage {
    width: 50%;
    display: inline-block;
}

.partiePresentation {
    width: 50%;
    padding-right: 1vw;
    padding-left: 1vw;
}

.imageVignetteRecette {
    height: 33vh;
    width: 100%;
}

.partieTitre {
    height: 15%;
}

.partieTitre p{
    color: #e57373;
    font-weight: bold;
    font-size: 11px;
    margin-top: 1vh;
    width: auto;
}

.partieResume{
    height: 48%;
}

.resume {
    font-size: 9px;
    text-align: justify;
    width: auto;
}

.partieBouton{
    height: 12%;
    width: auto;
}

.boutonArticle {
    text-align: center;
    height: 3vh;
    background-color: #eceff1;
    font-size: 6px;
    border-radius: 2px;
    line-height: 3vh;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
}


/* --------- PAGE RECETTE TARTE --------- */

header {
    width: 100%;
    height: 57vh;
}

header img {
    height: 57vh;
    width: 100%;
}

.recette {
    width: 45vw;
    height: 104vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -7vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    text-align: center;
}

.etiquetteTitre {
    background-color: #e57373;
    height: 13vh;
    position: relative;
    top: 4vh;
}

.titreRecette {
    font-size: 18px;
    text-transform: uppercase;
    font-family: Source Sans Pro, sans-serif;
    text-align: right;
    margin-right: 1.5vw;
    margin-top: 2.6vh;
}

.imageRecette {
    top: 4vh;
    max-width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 2vh;
}

.texteRecette {
    position: relative;
    top: 7vh;
    padding-right: 2vw;
    padding-left: 2vw;
    text-align: justify;
    font-size: 11px;
    margin-bottom: 0;
}

.boutonArticle > i {
    margin-left: 5px;
}

.boutonArticle:hover {
    background-color: #e57373;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    color: white;
}

